.card
{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),url("../images/pizza3B.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
    height:500px;
    max-width: 100%;
    /* opacity: 0.8; */
    /* filter: alpha(opacity=10); */
}
h1{
    font-size: 80px;
    font-family:'Trebuchet MS';
    /* margin-left:3%; */
    text-align: center;
    color:white;
}
#desc{
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 25px;
    color:white;
    margin-top: 10%;
}
#order-pizza{
    width: 300px;
    height: 250px;
    /* background-color: black; */
    margin-left: 40%;

}
#form-order{
    background-color: grey;
}
#new-pizza{
    font-size: 20px;
    background-color:red;
    border: 2px;
    border-radius: 20px;
    color: white;
}
#btn{
    font-size: 20px;
    background-color:red;
    color: white;
    border: 2px;
    border-radius: 20px;
    margin-left: 25%;
}
#header4{
    text-align: center;
}
#header3{
    text-align: center;
}
h3{
    text-align: center;
    /* background-color: black; */
    font-size: 10px;
    color: black;
}
#logo{
    width: 10%;
    height: 15%;
    margin-left: 45%;
    /* background-color: transparent 0.1; */
    border: 2px;
    border-radius: 50%;
}
#show-order{
 display: none;
}
h4{
    margin-left: 30%;
    color: black;
}
.orders {
    cursor: pointer;
    color:red;
  }
.orders:hover {
    text-decoration: underline;
  }
