.card
{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),url("../images/pizza3B.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
    height:500px;
    max-width: 100%;
}
h1
{
    font-size: 80px;
    font-family:'Trebuchet MS';
    text-align: center;
    color:white;
}
#desc
{
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 25px;
    color:white;
    margin-top: 10%;
}
#order-pizza
{
    width: 300px;
    margin-left: 40%;
}
#new-pizza
{
    font-size: 20px;
    background-color:red;
    border: 2px;
    border-radius: 20px;
    color: white;
}
#btn
{
    font-size: 20px;
    background-color:red;
    color: white;
    border: 2px;
    border-radius: 20px;
    margin-left: 25%;
}
#header4
{
    text-align: center;
    margin-left: 10px;
}
#header3
{
    text-align: center;
}
h3{
    text-align: center;
    font-size: 10px;
    color:white;
}
#logo
{
    width: 12%;
    height: 15%;
    margin-left: 45%;
    border: 1px;
    border-radius: 50%;
}
.my
{
 display: none;
}
h4
{
    margin-left: 50%;
    color: black;
    font-size: 20px;

}
.orders 
{
    cursor: pointer;
    color:red;
}
.orders:hover 
{
    text-decoration: underline;
}
#menu-order
{
    background-color: red;
    margin-left: 40%;
    color: white;
    border: 1px;
    border-radius: 20px;
    height: 50px;
    font-family: sans-serif;
    font-style: 20px;
}
.footer
{
    background-color:black;
    background-position: bottom;
    padding: 10px;
    margin-top:10%;
    margin-left: -10px;
    margin-bottom:-50%;
    margin-right: -10px;

}
.contacts
{
    text-align: center;
    color: white;
    margin-left: 40%;
}
h5
{
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    color: white;
}
#cont
{
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}
.my
{
    margin-left: 50%;
}